<html>
<head>
<%= javascript_tag %Q{
(function(){
  var channel = #{@channel.to_json};
  var javascript = #{@javascript.to_json};
  var meteorStrike = parent.parent.meteorStrike;
  if(meteorStrike) meteorStrike.execute(javascript);
  else alert('Connection is not established to the ShootingStar server.');
})();
}%>
</head>
</html>
